*{
  font-family: 'Roboto', sans-serif;
}
div .modal-content h1{
  color: white;
}
.mainform ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.mainform li {
    float: left;
}

.mainform li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.mainform li a:hover {
    background-color: #3c5144;
    cursor: pointer;
}
#btn-close-modal {
    margin: 5px auto;
    text-align: center;
    cursor:pointer;
    font-weight: lighter;
    width: 50px;
    height: 50;
    color: white;
}
.tripDetails{
  display: none;
  align-content: center;
  text-align: center;
}
.enTripDetails{
  display: none;
  align-content: center;
  text-align: center;
}
.workSpace{
  margin-top: 15px;
}
.workSpace ul#tripList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.workSpace ul#tripList ul{
  padding-left: 0px;
}
.workSpace li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.workSpace ul#tripList ul li {
  display: block;
  color: #717a74;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.workSpace li a:hover {
    background-color: #3c5144;
    cursor: pointer;
}
.enWorkSpace{
  margin-top: 15px;
}
.enWorkSpace ul#enTripList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.enWorkSpace ul#enTripList ul{
  padding-left: 0px;
}
.enWorkSpace li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.enWorkSpace ul#enTripList ul li {
  display: block;
  color: #717a74;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.enWorkSpace li a:hover {
    background-color: #3c5144;
    cursor: pointer;
}
.modal-content .form-control{
padding: 4.5px 0px 4.5px 0px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
/*box-sizing: border-box;*/
font-size: 14px;
}

.fa-spin-hover:hover {
  color:#f2f7ff;
  -webkit-animation: fa-spin 1.5s infinite linear;
  -moz-animation: fa-spin 1.5s infinite linear;
  animation: fa-spin 1.5s infinite linear;
}
.fa-search {
  font-family: FontAwesome, 'Roboto', Helvetica, Arial, sans-serif;
}
.fa-calendar{
  font-family: FontAwesome, 'Roboto', Helvetica, Arial, sans-serif;
}
